// .container {
//   border: 1px solid #ddd;
//   padding: 20px;
//   border-radius: 10px;
//   width: 400px;
//   margin: 40px auto;
//   text-align: center;
//   font-family: Arial, sans-serif;
// }

.input {
  padding: 10px;
  margin-bottom: 15px;
}

.fileBox {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  background: #fafafa;
}

.button {
  margin-top: 10px;
  padding: 10px 16px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}